@import
  "partials/mixins",
  "partials/variables"
  ;

@include tablets {
  // layout
  .box {
    width: 92%;
  }
  // nav
  .nav__bar {
    z-index: -100;
  }
  .nav__ul {
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 0;
    max-width: 2500px;
    width: 100%;
    box-shadow: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    padding-top: 0;
  }
  .page_item,
  .menu-item {
    margin: 0 12px;
    display: inline-block; // Fallback
    display: flex;
    a {
        line-height: 74px;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
  .current_page_item a {
    background-color: $primary;
    color: $white;
  }
  // icons
  .call__btn {
    display: flex;
    white-space: nowrap;
    line-height: 75px;
    padding: 0 16px;
    background-color: $primary;
    color: $white;
  }

  .nav__icon,
  .icon__call {
    z-index: -100;
  }

  .logo__icon {
    z-index: 165;
    width: 225px;
    left: 0;
    margin: 6px 0 0 12px;
  }

  // header
  .hdr__div-logo {
    padding: 16px 0;
  }

  .hdr__logo {
    display: none;
  }

.hdr__pg {
  max-height: 400px;
  max-width: 2000px;
}
  // banner
 .bnr__h1,
 .cards_hdl {
   font-size: 3em;
 }

 .bnr__desc p {
   font-size: 2em;
 }
}

// card
.cards {
  padding: 16px;
}

.card {
  width: 50%;
  padding: 3em;
}

// entry
.entry-header {
  max-width: 960px;
  margin: 0 auto;
}
.entry-title {
  font-size: 2em;
}

.entry-content {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.12em;
}

@include desktops {
  .box {
    max-width: 1200px;
    width: 90%;
  }
  .call__btn {
    padding: 0 24px;
  }
}
