.bnr {
  background-color: $dk-blue;
  padding-bottom: 24px;
}

.bnr__h1 {
  line-height: 1em;
  padding-top: 16px;
  font-size: 1.25em;
  font-weight: 700;
  white-space: normal;
  color: $white;
  @include phones {
    font-size: 1.5em;
  }
}

.bnr__desc p {
font-size: 1em;
line-height: 1.45em;
padding-top: 16px;
padding-bottom: 16px;
font-weight: 400;
color: $white;
  @include phones {
    font-size: 1.25em;
  }
}

.bnr__a {
  color: wheat;
  text-decoration: underline;
  font-size: 18px;
  display: block;
  padding-bottom: 24px;
}
