.cards {
  display: flex;
  flex-flow: row wrap;
  padding: 12px 0;
  background-color: #ededed;
}

.cards__hdl {
  color: darken($dk-blue, 20%);
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 32px 24px;
  background-color: $white;
  border: 1px solid #ededed;
  font-size: 1.05em;
}

.card__h1 {
  font-size: 2em;
  color: $dk-blue;
}

.card__sec {
  max-width: 500px;
  padding: 2em 0;
  p {
    color: $text;
    font-size: 1.1em;
  }
}

.card__ftr {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: flex-end;
  justify-content: flex-end;
}
