.line {
  border-bottom: 1px solid $lines;
}

.divider-dk,
.divider {
  border-right: none;
}

.pad-right {
  padding-right: 0;
}

.pad-left {
  padding-left: 0;
}

.pad-bottom {
  padding-bottom: $spacer;
}
