.link-xl {
  list-style: none;
  padding: $spacer / 3 0;
  > .lead {
    margin-bottom: 0;
  }
  > a {
    font-size: $font-size-xl;
    &:hover {
      color: darken($primary, 15%);
    }
  }
  > a.accent {
    color: $accent;
    font-size: $font-size-xl;
    &:hover {
      color: darken($accent, 15%);
    }
  }
}
