// Nav
.nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
  }
  @include tablets {
    position: relative;
    display: block;
    z-index: 120;
    overflow: visible;
    background-color: $white;
  }
}

.nav__ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 160;
  max-width: 400px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-103%);
          transform: translateX(-103%);
  pointer-events: auto;
  background-color: #fafafa;
  will-change: transform;
  padding-top: 48px;
  padding-bottom: 0;
  @include tablets {
    display: block;
    max-width: 100%;
    text-align: right;
    width: 100%;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: none;
    transform: translateX(0);
    border-top: 2px solid $lt-blue;
    border-bottom: 1px solid #242526;
  }
}

.page_item,
.menu-item {
  display: block;
  @include tablets {
    display: inline-block;
  }
  a {
    display: block;
    padding: 18px 32px;
    text-decoration: none;
    text-transform: capitalize;
    color: darken($dk-blue, 50%);
    font-size: 16px;
  }
}

// Nav Animation
.nav--visible .nav__ul {
    -webkit-transform: none;
            transform: none;
}

.nav--animatable .nav__ul {
    transition: all 130ms ease-in;
}

.nav--visible.nav--animatable .nav__ul {
    transition: all 330ms ease-out;
}

.nav--visible {
  pointer-events: auto;
}
.nav--visible.nav:after {
    opacity: 1;
    pointer-events: auto;
}

// Nav bar (Mobile Only)
.nav__bar {
  position: relative;
  display: block;
  background-color: #fafafa;
  border-bottom: 1px solid #242526;
  height: 54px;
  @include tablets {
    display: none;
  }
}
.nav__icon {
  position: absolute;
  top: 6px;
  left: 12px;
  @include img-path('navicon.svg');
  background-repeat: no-repeat;
  min-width: 32px;
}

.call__icon {
  position: absolute;
  display: block;
  top: 5px;
  right: 12px;
  width: 42px;
  height: 42px;
  @include img-path('call.svg');
  background-repeat: no-repeat;
}

.nav__logo {
  display: none;
  @include tablets {
    display: block;
    position: absolute;
    z-index: 200;
    width: 250px;
    height: auto;
    left: 12px;
    top: 6px;
    background-color: $white;
    border: 8px solid $white;
    box-shadow: 0px 5px 11px -1px rgba(29, 49, 53, 0.89);
    img {
      width: 100%;
      height: auto;
    }
  }
}

.nav-bar__logo {
  display: block;
  position: absolute;
  z-index: 150;
  width: 126px;
  height: auto;
  top: 6px;
  left: 50%;
  margin-left: -65px;
  background-color: $white;
  border: 4px solid $white;
  box-shadow: 0px 5px 11px -1px rgba(29, 49, 53, 0.89);
  img {
    width: 100%;
    height: auto;
  }
  @include tablets {
    display: none;
  }
}
